# Created by .ignore support plugin (hsz.mobi)
.idea/flutter_popular_movies.iml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/workspace.xml
.packages
android/app/src/main/java/io/
android/gen/
build/app/generated/assets/
build/app/generated/res/
build/app/generated/source/aidl/
build/app/generated/source/apt/
build/app/generated/source/rs/
build/app/intermediates/check-manifest/
build/app/intermediates/incremental/mergeDebugResources/aapt-temp/
build/app/intermediates/incremental/mergeDebugResources/stripped.dir/
build/app/intermediates/incremental/processDebugResources/
build/app/intermediates/jniLibs/
build/app/intermediates/lint/
build/app/intermediates/prebuild/
build/app/intermediates/res/symbol-table-with-package/
build/app/intermediates/rs/
build/app/intermediates/shaders/
build/app/intermediates/symbols/
build/app/tmp/compileDebugJavaWithJavac/
build/ios/Debug-iphoneos/
gen/
ios/Frameworks/
